@model WebApplication6.Models.LightSabers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LightSabers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaberType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaberType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaberColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaberColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaberLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaberLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LightSaberReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LightSaberReview)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvailableForDarksideOnly }) |
    @Html.ActionLink("Back to List", "Index")
</p>
